/////
/// Mixins
/// @group general
////

@mixin buttonColor($color, $textColor: map-get($color-palette, 'white')) {
  color: $textColor;
  border: 1px solid $color;
  background-color: $color;
  &:hover {
    border-color: lighten($color, 5);
    background-color: lighten($color, 5);
  }
  &:active {
    border-color: lighten($color, 8);
    background-color: lighten($color, 8);
  }
}

@mixin outlineButton($color) {
  border: 1px solid $color;
  color: $color;
  &:hover {
    border-color: lighten($color, 10);
    background-color: lighten($color, 10);
    color: map-get($color-palette, 'white');
  }
  &:active {
    border-color: lighten($color, 20);
    background-color: lighten($color, 20);
  }
}

%defaultButton {
  cursor: pointer;
  padding: $grid-gutter-width-base / 4 $grid-gutter-width-base * 1.5;
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
}


